<div class="container mt-2">
  <ng-template #errors>
    <div class="text-danger">{{errorMessage}}</div>
  </ng-template>
  <div class="card" *ngIf="products; else errors">
    <div class="card-header">Products List</div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup" (ngSubmit)="searchProduct()">
        <div class="input-group">
          <label for="keyword" class="input-group-text">Keyword: </label>
          <input id="keyword" type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-outline-info">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <table class="table table-active mt-2">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Promotion</th>
          <th>Promotion Action</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td><i *ngIf="p.promotion" class="bi bi-heart-fill text-success"></i></td>
          <td>
            <button (click)="setProductPromotion(p)" [ngClass]="p.promotion?'btn-danger':'btn-success'" class="btn ">
              <span *ngIf="p.promotion">Promo On</span>
              <span *ngIf="!p.promotion">Promo Off</span>
            </button>
          </td>
          <td>
            <button (click)="deleteDeleteProduct(p)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let item of [].constructor(this.totalPages);let i =index;">
          <a (click)="gotoPage(i)" [ngClass]="i ==this.currentPage?'btn-info':'btn-outline-info'" class="btn  ms-1 mt-2">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
